@model FileUploadViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Инструкции для работы</h4>
<hr />

@if (ViewBag.Message != null)
{
<div class="alert alert-success alert-dismissible" style="margin-top:20px">
    @ViewBag.Message
</div>
}

@if (User.IsInRole("Модератор")||(User.IsInRole("Администратор")))
{
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="files" multiple required />
        <input type="text" autocomplete="off" placeholder="Введите описание" name="description" required />
        <button class="btn btn-success" type="submit" asp-controller="Files" asp-action="UploadToDatabase">Добавить файл</button>
    </form>
}

@if (Model.FilesOnDatabase.Count == 0)
{
    <caption>Файлов нет</caption>
}
else
{
<br />
<h4>Файлы</h4>
<table class="table table-info">
    <thead>
        <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Описание</th>
            <th>Тип файла</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var file in Model.FilesOnDatabase)
        {
        <tr>
            <th>@file.Id</th>
            <td>@file.Name</td>
            <td>@file.Description</td>
            <td>@file.FileType</td>
            <td>@file.CreatedOn</td>

            <td>
                <a type="button" class="btn btn-primary" asp-controller="Files" asp-action="DownloadFileFromDatabase" asp-route-id="@file.Id">Скачать</a>

                @if (User.IsInRole("Модератор")||(User.IsInRole("Администратор")))
                {
                    <a type="button" class="btn btn-danger" asp-controller="Files" asp-action="DeleteFileFromDatabase" asp-route-id="@file.Id">Удалить</a>
                }
            </td>
        </tr>
        }

    </tbody>
</table>
}
